@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    font-family: "Inter Tight", sans-serif;
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-md bg-zinc-200 hover:bg-zinc-400 active:bg-zinc-600;
  }
}